body {
    height: 100vh; 
    max-height: 100vh;
    display: flex;
    
    margin: 0;  
    max-width: 100vw;
    background-color: black;

}   

.main-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rl-map-box {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
}

canvas {
    background-color: black;
    display: flex;
    min-width: 0;
    min-height: 0;
}

#rl-menu {
    display: flex;
    min-width: 0;
    min-height: 0;
    max-width: 50%;
}

.rl-map-layers {
    flex-grow: 1;
    position: relative;
}

#rl-map {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#rl-light-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#rl-text-box {
    position: absolute;
    display: none;
    
}

#rl-text-box .active {
    display: block;
}

#rl-text-log {
    height: 80px;
    width: 100%;
    flex-shrink: 0;
}

.touch-controls {
    background-color: black;
    display: none;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #F8F8F8;
    border-radius: 3px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.touch-direction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
}

.touch-action {
    display: flex;
    flex-grow: 0;
    flex-basis: 20%;
}

.touch-action>div {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 20px;
    min-height: 20px;
}

.touch-button {
    position: relative;
    margin: 5px;
    background-color: black;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
}

.touch-direction>.touch-button {
    min-width: 25%;
    min-height: 25%;
}

.touch-direction .touch-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("../img/arrow-up.svg") center center no-repeat;
}
/*
.btn-up-left {
}

.btn-up {
    top: 10%;
    left: 37.5%
}

.btn-up-right {
    top: 10%;
    left: 65%;
}

.btn-left {
    top: 37.5%;
    left: 10%;
}

.btn-center {
    top: 37.5%;
    left: 37.5%;
}

.btn-right {
    top: 37.5%;
    left: 65%;
}

.btn-down-left {
    top: 65%;
    left: 10%;
}

.btn-down {
    top: 65%;
    left: 37.5%;
}

.btn-down-right {
    top: 65%;
    left: 65%;
}
*/
.btn-up-left::after {
    transform: rotate(315deg);
}

.btn-up-right::after {
    transform: rotate(45deg);
}

.btn-left::after {
    transform: rotate(270deg);
}

.btn-center::after {
    background: none;
}

.btn-right::after {
    transform: rotate(90deg);
}

.btn-down-left::after {
    transform: rotate(225deg);
}

.btn-down::after {
    transform: rotate(180deg);
}

.btn-down-right::after {
    transform: rotate(135deg);
}


/* touchscreen controls */
@media(hover:none) {
    .touch-controls {
        display: flex;
    }
}

@media screen and (orientation:landscape) {
    .touch-controls {
        height: 100vh;
        width: 100vh;
        max-width: 25%;
        margin-top: auto;
        margin-bottom: auto;
        flex-direction: row;
    }

    .touch-controls>div {
        height: 100%;
    }

    .touch-action {
        flex-direction: column;
    }
}

@media screen and (orientation:portrait) {
    .touch-controls {
        height: 100vw;
        width: 100vw;
        max-height: 25%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        width: 100%;
    }

    .touch-controls>div {
        width: 100%;
    }

    .touch-action {
        flex-direction: row;
    }

    body {
       flex-direction: column-reverse; 
    }
}